/* --------------------------------------- */
/*  =  Mentions                            */
/* --------------------------------------- */

/* @author: Circonflex-studio | www.circonflex.fr, Daverio Anthony */
/* @date: February, 2014 */
/* @version: 1.0 */
/* @method SMACSS */

/* --------------------------------------- */
/*  =  Summary                             */
/* --------------------------------------- */

/* 1  - Variables Mixins and Fonctions */
/* 2  - Base Rules */
/* 3  - Layout Rules */
/* 4  - Modules Rules */
/* 5  - State Rules */

// Import framework compass
@import "compass";

/* --------------------------------------- */
/*  =  Variables Mixins and Fonctions      */
/* --------------------------------------- */

// Variables
$bg-content: #ddd;
$bg-box: #fff;
$bg-sidebar: #92278f;
$bg-footer: #a74fa3;
$default-border-radius:10px !default;
$font-name: "Calibri";
$font-family-default: "Helvetica Neue", Helvetica, sans-serif;
$font-family-alt: "Calibri", "Times New Roman", Times, serif;
$font-size: .9em;
$font-color: #000;
$font-color-alt: #757575;
$title-color: $bg-footer;
$nav-link-color: $bg-box;
$nav-link-hover-color: #b974b7;


/* --------------------------------------- */
/*  =  Base Rules                          */
/* --------------------------------------- */

body{
	position: relative;
	min-height: 100%;
	@include font-face($font-name, font-files('/fonts/calibri-webfont.ttf', '/fonts/calibri-webfont.woff', '/fonts/calibri-webfont.svg') '/fonts/calibri-webfont.eot');
	font-family: $font-family-default;
	color: $font-color;
	background: $bg-content;
	font-size: $font-size;
	font-family: $font-family-default;
	line-height: 1.25em;
}

h1{
	color: $title-color;
	font-style: italic;
	font-weight: 400;
}

h3{
	font-size: $font-size;
	color: $bg-box;
}

h4{
	margin-bottom: .5em;
	font-size: $font-size + .2em;
}

a{
	text-decoration: underline;

	&:hover{
		text-decoration: none;
	}
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	li{
		padding: 0;
		margin: 0;
	}
}

/* --------------------------------------- */
/*  =  Layout Rules                        */
/* --------------------------------------- */

#l-content{
	margin-left: 200px;
}

#l-sidebar{
	position: relative;
	z-index: 1;
	margin-top: -11px;
	background: $bg-sidebar;
	// @include box-shadow(0 .2em .8em #222);
}

#l-footer{
	position: relative;
	bottom: 0;
	margin: 20px 0 20px 0;
	padding-left: 220px;
	background: $bg-footer;
	color: $bg-box;
}

/* --------------------------------------- */
/*  =  Modules Rules                       */
/* --------------------------------------- */

//// Generics ////

.container{
	position: relative;
	z-index: 0;
}
.active{
	@include opacity(.9);
	background: $nav-link-hover-color;
}
.box{
	border: 1px solid rgba(80, 80, 80, .2);
	background: $bg-box;
}

.block{
	margin-bottom: 1em;
	border: 1px solid $bg-box;
	background: $bg-box;

	h3{
		padding: .4em 0 .4em .5em;
		background: url('../img/bg-box.jpg');
	}
	.content{
		padding: .5em;
	}
}

.block-alt{
	@extend .block;
	h3{
		background: none;
	}
}

.block-info{
	@extend .block;
	color: $bg-box;
	background: $bg-footer;
}

.form {
	.input{
		margin-bottom: 5px;
	}
	span:first-child{
		display: inline-block;
		width: 120px;
	}
	.btn{
		margin-top: 5px;
	}
	textarea{
		width: 100%;
	}
	input[type="submit"]{
		display: inline-block;
		margin: 10px auto 0 auto;
	}
}

//// Header ////

.logo{
	position: absolute;
	top: 0;
	z-index: 3;
	margin-left: 10px;
}

.slogan {
	h1 {
		margin: -22px 0 0 185px;
		+ strong {
			position: absolute;
			font-size: $font-size;
			color: $font-color-alt;
			font-weight: 400;
		}
	}
}

.nav-primary{
	position: relative;
	z-index:2;
	background: url('../img/bg-nav.png');
	
	ul{
		margin-left: 215px;
	}

	li{
		 @include inline-block;
		 margin-right: 15px;
		 height: 48px;
		 &:last-child{
		 	 margin-right: 0;
		 }
	}

	a{
		@include inline-block;
		padding: .5em;
		height: 82%;
		line-height: 2em;
		font-size: $font-size + .1em;
		text-decoration: none;
	 	color: $nav-link-color;
	 	@include text-shadow(0em 0.2em 4px #333);

	 	&:hover{
	 		@extend .active;
	 	}
	 }
}

//// Content ////

#submission.form {
	input, select{
		width: 160px;
	}
}

//// Footer ////

#l-footer .block{
	border: none;
	background: none;
	
	a{
		color: $bg-box;
	}

	img{
		margin-right: 3px;
	}
}

#l-footer .block:last-child{
	img{
		margin-right: 10px;
	}
}

#l-footer aside:last-child{
	font-size: $font-size;
}

.copy{
	position: absolute;
	bottom: 0;
	font-size: $font-size - .15em;
	color: $bg-box;
	background: url('../img/bg-footer.jpg') repeat-x;
}

//// Page search ////

#search table{
	background: $bg-box;
}

//// Page Links ////

#foplinks{
	min-height: 800px;
}

//// Page Story details ////

.samestories, .comment{

	h3{
		font-size: $font-size + .5em;
		color: $font-color;
	}
}

.comment{
	margin-left: 8em;

	p{
		display: block;
	}
}

.form-comment {
	@extend .form;

	span:first-child{
		display: inline-block;
		width: 150px;
	}

	span:last-child{
		font-size: $font-size - .1em;
		font-style: italic;
	}
}