{% extends 'base.html' %}

{% block content %}
    <h2>Recherche sur Fideleoupas</h2>

    <div id="search">
    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Résultats</h3>

            {% for result in page.object_list %}
                <div id="story">
                <p>
                    <a href="/polls/{{ result.object.id }}">Posté par {{ result.object.creator }} le {{ result.object.pub_date }}</a>
                </p>
                <p>
                    {{ result.object.body }}
                </p>
                </div>
                <div id="espace"></div>
            {% empty %}
                <p>La recherche n'a trouvé aucun résultat.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
    </div>
{% endblock %}
