body                  {background-color:#ddd; font-family:Georgia, sans-serif; font-size:80%;}
h1                    {position:relative; z-index: 1; font-size:1.95em;}
h2                    {position:relative; z-index: 1; font-size:1.6em;}

div#sommaire          {position:relative; z-index: 1;}
div#sommaire ul       {padding: 0; margin: 0;text-align:left;display: none:}
div#sommaire ul li:first-child    {position:relative;display: inline;padding: 0.5em;border: 0.1em solid black;margin: -2px;}
div#sommaire ul li:last-child    {position:relative;display: inline; padding: 0.5em;border-top: 0.1em solid black;border-bottom: 0.1em solid black;border-right: 0.1em solid black;border-left: 0;margin: -2px;}
div#sommaire ul li    {position:relative; display: inline; padding: 0.5em; border-left: 0; border-right: 0.1em solid black; border-top: 0.1em solid black; border-bottom: 0.1em solid black; margin: -2px;}
div#sommaire ul li:hover    {background-color: pink;}
div#sommaire a        {color: black; font-weight:bold; text-decoration: none;padding: 0.6em;}
div#sommaire a:hover  {color: white; font-weight:bold; text-decoration: none;padding: 0.6em;}

div#title             {position:relative; z-index: 1; padding-left:15%; padding-right:35%;}
div#title h1          {margin-bottom: 0%; font-size:1.95em;}
div#title strong      {font-size:80%;}

div#content           {padding-left:15%; padding-right:35%;}
div#content h2        {border-bottom:1px solid #ddd;margin-bottom:.5em;}

div#decalage          {padding-left:5em; font-size:80%;}
div#decalagecomment   {padding-left:10em;}
div#decalageshare     {position:relative; z-index: 1; padding-left:80%;}
div#espace            {padding-top:1em; padding-bottom:1em;}

div#story             {position:relative; z-index: 1; padding: 0.5em; background-color: white;}
div#usercomment       {position:relative; z-index: 1; padding: 0.5em; background-color: white;}

div#faq               {position:relative; z-index: 1;}
div#faq p             {padding: 0.5em;background-color: white;}

div#flux img          {margin: 0.1em;}

div#twitterwidget     {position: absolute; float-right; left:0; right:0;padding-top:0%; padding-left: 66%; padding-right:15%}


div#submission        {position:relative; z-index: 1;}
div#storytosomeone    {position:relative; z-index: 1;}
div#search            {position:relative; z-index: 1;}
div#footer            {position:relative; z-index: 1;}
div#foplinks          {position:relative; z-index: 1;}
div#emailform         {position:relative; z-index: 2; }
div#aligncell         {position:relative; z-index: 1;}
div#aligncellleft     {float:left;clear:none;}
div#aligncellright    {float:right;clear:none;}
