/* --------------------------------------- */
/*  =  Mentions                            */
/* --------------------------------------- */
/* @author: Circonflex-studio | www.circonflex.fr, Daverio Anthony */
/* @date: February, 2014 */
/* @version: 1.0 */
/* @method SMACSS */
/* --------------------------------------- */
/*  =  Summary                             */
/* --------------------------------------- */
/* 1  - Variables Mixins and Fonctions */
/* 2  - Base Rules */
/* 3  - Layout Rules */
/* 4  - Modules Rules */
/* 5  - State Rules */
/* --------------------------------------- */
/*  =  Variables Mixins and Fonctions      */
/* --------------------------------------- */
/* --------------------------------------- */
/*  =  Base Rules                          */
/* --------------------------------------- */
/* line 48, ../sass/style.scss */
body {
  position: relative;
  min-height: 100%;
  @font-face {
    font-family: "Calibri";
    src: url(/fonts/calibri-webfont.ttf) format('truetype'), url(/fonts/calibri-webfont.woff) format('woff'), url(/fonts/calibri-webfont.svg) format('svg') "/fonts/calibri-webfont.eot";
}

  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: black;
  background: #dddddd;
  font-size: 0.9em;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.25em;
}

/* line 60, ../sass/style.scss */
h1 {
  color: #a74fa3;
  font-style: italic;
  font-weight: 400;
}

/* line 66, ../sass/style.scss */
h3 {
  font-size: 0.9em;
  color: white;
}

/* line 71, ../sass/style.scss */
h4 {
  margin-bottom: .5em;
  font-size: 1.1em;
}

/* line 76, ../sass/style.scss */
a {
  text-decoration: underline;
}
/* line 79, ../sass/style.scss */
a:hover {
  text-decoration: none;
}

/* line 84, ../sass/style.scss */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 88, ../sass/style.scss */
ul li {
  padding: 0;
  margin: 0;
}

/* --------------------------------------- */
/*  =  Layout Rules                        */
/* --------------------------------------- */
/* line 98, ../sass/style.scss */
#l-content {
  margin-left: 200px;
}

/* line 102, ../sass/style.scss */
#l-sidebar {
  position: relative;
  z-index: 1;
  margin-top: -11px;
  background: #92278f;
}

/* line 110, ../sass/style.scss */
#l-footer {
  position: relative;
  bottom: 0;
  margin: 20px 0 20px 0;
  padding-left: 220px;
  background: #a74fa3;
  color: white;
}

/* --------------------------------------- */
/*  =  Modules Rules                       */
/* --------------------------------------- */
/* line 125, ../sass/style.scss */
.container {
  position: relative;
  z-index: 0;
}

/* line 129, ../sass/style.scss */
.active, .nav-primary a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background: #b974b7;
}

/* line 133, ../sass/style.scss */
.box {
  border: 1px solid rgba(80, 80, 80, 0.2);
  background: white;
}

/* line 138, ../sass/style.scss */
.block, .block-alt, .block-info {
  margin-bottom: 1em;
  border: 1px solid white;
  background: white;
}
/* line 143, ../sass/style.scss */
.block h3, .block-alt h3, .block-info h3 {
  padding: 0.4em 0 0.4em 0.5em;
  background: url("../img/bg-box.jpg");
}
/* line 147, ../sass/style.scss */
.block .content, .block-alt .content, .block-info .content {
  padding: .5em;
}

/* line 154, ../sass/style.scss */
.block-alt h3 {
  background: none;
}

/* line 159, ../sass/style.scss */
.block-info {
  color: white;
  background: #a74fa3;
}

/* line 166, ../sass/style.scss */
.form .input, .form-comment .input {
  margin-bottom: 5px;
}
/* line 169, ../sass/style.scss */
.form span:first-child, .form-comment span:first-child {
  display: inline-block;
  width: 120px;
}
/* line 173, ../sass/style.scss */
.form .btn, .form-comment .btn {
  margin-top: 5px;
}
/* line 176, ../sass/style.scss */
.form textarea, .form-comment textarea {
  width: 100%;
}
/* line 179, ../sass/style.scss */
.form input[type="submit"], .form-comment input[type="submit"] {
  display: inline-block;
  margin: 10px auto 0 auto;
}

/* line 187, ../sass/style.scss */
.logo {
  position: absolute;
  top: 0;
  z-index: 3;
  margin-left: 10px;
}

/* line 195, ../sass/style.scss */
.slogan h1 {
  margin: -22px 0 0 185px;
}
/* line 197, ../sass/style.scss */
.slogan h1 + strong {
  position: absolute;
  font-size: 0.9em;
  color: #757575;
  font-weight: 400;
}

/* line 206, ../sass/style.scss */
.nav-primary {
  position: relative;
  z-index: 2;
  background: url("../img/bg-nav.png");
}
/* line 211, ../sass/style.scss */
.nav-primary ul {
  margin-left: 215px;
}
/* line 215, ../sass/style.scss */
.nav-primary li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 15px;
  height: 48px;
}
/* line 219, ../sass/style.scss */
.nav-primary li:last-child {
  margin-right: 0;
}
/* line 224, ../sass/style.scss */
.nav-primary a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: .5em;
  height: 82%;
  line-height: 2em;
  font-size: 1em;
  text-decoration: none;
  color: white;
  text-shadow: 0em 0.2em 4px #333333;
}

/* line 243, ../sass/style.scss */
#submission.form input, #submission.form-comment input, #submission.form select, #submission.form-comment select {
  width: 160px;
}

/* line 250, ../sass/style.scss */
#l-footer .block, #l-footer .block-alt, #l-footer .block-info {
  border: none;
  background: none;
}
/* line 254, ../sass/style.scss */
#l-footer .block a, #l-footer .block-alt a, #l-footer .block-info a {
  color: white;
}
/* line 258, ../sass/style.scss */
#l-footer .block img, #l-footer .block-alt img, #l-footer .block-info img {
  margin-right: 3px;
}

/* line 264, ../sass/style.scss */
#l-footer .block:last-child img, #l-footer .block-alt:last-child img, #l-footer .block-info:last-child img {
  margin-right: 10px;
}

/* line 269, ../sass/style.scss */
#l-footer aside:last-child {
  font-size: 0.9em;
}

/* line 273, ../sass/style.scss */
.copy {
  position: absolute;
  bottom: 0;
  font-size: 0.75em;
  color: white;
  background: url("../img/bg-footer.jpg") repeat-x;
}

/* line 283, ../sass/style.scss */
#search table {
  background: white;
}

/* line 289, ../sass/style.scss */
#foplinks {
  min-height: 800px;
}

/* line 297, ../sass/style.scss */
.samestories h3, .comment h3 {
  font-size: 1.4em;
  color: black;
}

/* line 303, ../sass/style.scss */
.comment {
  margin-left: 8em;
}
/* line 306, ../sass/style.scss */
.comment p {
  display: block;
}

/* line 314, ../sass/style.scss */
.form-comment span:first-child {
  display: inline-block;
  width: 150px;
}
/* line 319, ../sass/style.scss */
.form-comment span:last-child {
  font-size: 0.8em;
  font-style: italic;
}
