{% extends "polls/base.html" %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<p>Le serveur est en maintenance, n'hésitez pas à repasser un peu plus tard.<p>

{% endblock %}
