<html>
<head>
  <title>Infid&egrave;le ou fid&egrave;le ? Tout sur l'infid&eacute;lit&eacute; et la fid&eacute;lit&eacute; sur fideleoupas.net</title>
  <meta name="description" content="0util d'aide &agrave; la décision en mati&egrave;re de fid&eacute;lit&eacute; et d'infid&eacute;lit&eacute; amoureuse." />
  <meta name="keywords" lang="fr" content="fid&eacute;lit&eacute;, infid&eacute;lit&eacute; fid&egrave;lit&eacute; infid&egrave;lit&eacute; fidelite infidelite" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="{{ STATIC_URL }}/image/favicon.png">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/theme/css/knacss.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/theme/css/style.css" />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49557151-1', 'fideleoupas.net');
  ga('send', 'pageview');

</script>
</head>
<body>
<div id="fb-root"></div>
<!-- Facebook plugin-->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- End of the Facebook plugin-->
<script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts.js"></script>
<script>
$(document).ready(function(){
    $("#principle").css("display","none");
    $("#submission").css("display","none");
});
</script>

<div class="container w100 line">
	<header id="l-header" class="line">
		<div class="pal pb0">
			<img class="logo mod" src="{{ STATIC_URL }}/css/theme/img/logo.png" alt="Logo">
			<div class="slogan w960p">
				<h1 class="inbl">Fidèle... ou pas?</h1>
		    	<strong class="mls w400p">Infidèle ou fidèle, identifiez l'infidélité ou la fidélité du conjoint</strong> 
			</div>
		</div> <!-- Titre et slogan -->

		<nav class="nav-primary">
			<div id="sommaire" class="w960p">
			    <ul>
			        <li><a class="active" href="/">Accueil</a></li>
			        <li><a href="javascript:;" onclick="showhide('principle');">Principe du site</a></li>
			        <li><a href="javascript:;" onclick="showhide('submission');">Votre histoire</a></li>
			        <li><a href="/weblog">Blog</a></li>
			        <li><a href="/search">Recherche</a></li>
			        <li><a href="/liens">Liens</a></li>
			    </ul>
			</div><!-- sommaire -->
		</nav>
	</header><!-- Header -->
	<aside id="l-sidebar" class="sidebar w25 right mls mrl mbm pas ptl">
		<div class="block">
			<h3>Suis Fideleoupas.net sur Facebook !</h3>
                <div class="fb-like-box" data-href="http://www.facebook.com/pages/Fid%C3%A8le-ou-pas/1445370629032294" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
			</div>

	    <div id="imagestory" class="block">
	    	<h3>Les dernières histoires illustrées!</h3>
	    	<div class="content center">
                {% if latest_image_stories %}
                    {% for poll in latest_image_stories %}
                        <p><a href="/polls/{{ poll.id }}">{{ poll.body|truncatechars:30 }}</a></p>
                    {% endfor %}
                {% endif %}
	        </div>
	    </div><!-- imagestory -->

	    <div id="emailform" class="block">
	    	<h3>Sois averti des nouvelles histoires!</h3>
	    	<div class="content center">
		        <form method="post" onsubmit="sendemail();return false">
		            {% csrf_token %}
		            <input type="text" id="email"placeholder="Entre ton adresse e-mail" />
		            <span id="getemailbutton"><input type="submit" value="Valider" /></span>
		        </form>
	        </div>
	    </div><!-- emailform -->

	    <div id="twitterwidget" class="block">
		    <h3>Suis Fideleoupas.net sur Twitter !</h3>
		    <div class="content">
			    <a class="twitter-timeline" href="https://twitter.com/fidele_ou_pas" data-widget-id="326069049027067906">Tweets by @fidele_ou_pas</a>
			    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			    </script>
		    </div>
	    </div><!-- twitterwidget -->

	    <div class="block-alt">
	    	<h3><a href="/weblog">Suis le blog de Fideleoupas.net!</a></h3>
	    </div>
	</aside>
	<div id="l-content" class="pam mod">
		<div id="principle" class="block-info">
		    <div id="faq" class="content">
		        <ul>
		            <li>Vous soupçonnez <strong>une infidélité de votre conjoint</strong> mais vous avez <strong>des doutes</strong> ?</li>
		            <li>Impossible d'obtenir <strong>une preuve concrète</strong> mais <strong>certains signes</strong> vous inquiètent ?</li>
		        </ul>
		        <p><strong>Le principe du site</strong> est simple : <strong>partagez</strong> avec les membres de fideleoupas.net <strong>votre histoire, vos doutes</strong> et obtenez <strong>un grand nombre d'avis</strong> classés en deux axes (<strong>c'est clair il/elle te trompe</strong> ou <strong>tu te fais des idées</strong>) qui vous permettront ensuite après <strong>une analyse personnelle</strong> d'arriver posément et <strong>par vous-même</strong> à une conclusion.</p>
		    </div><!-- faq -->
		</div><!-- principle -->

		<div id="submission" class="form pam mbm">
		    <form method="post" onsubmit="sendstory();return false">
		        {% csrf_token %}
		        <div class="input">
		        	<span>Pseudonyme :</span>
		        	<input type="text" id="creator" placeholder="ton pseudonyme"/> 
		        	<span>(pour rester anonyme, pas ton vrai prénom et nom)</span>
		        </div>
				<div class="input">
		        	<span>E-mail (optionnel): </span>
		        	<input type="text" id="creatoremail" placeholder="ton adresse e-mail"/> 
		        	<span>(pour être notifié des nouveaux commentaires de ton histoire)</span>
		        </div>
		        <div class="input">
			        <span>Vous êtes : </span>
			        <select id="creatorgender"><option selected value="f" >une femme</option><option value="m" >un homme</option></select>
		        </div>
		        <div class="input">
		        	<span>Votre conjoint est :</span> 
		        	<select id="mategender"><option selected value="m" >un homme</option><option value="f" >une femme</option></select>
		        </div>
		        <div class="input">
		        	<span>Votre histoire : </span><br />
		        	<textarea  rows=10 cols=75 id="story" /></textarea><br />
		        	<span id="newstorybutton"><input type="submit" value="Valider" /></span>
		        </div>
		    </form>
		</div><!-- submission -->

		{% block content %}{% endblock %}
	</div>
	<footer id="l-footer" class="pam w100 line">
		<div class="content w100">
		    <nav id="flux" class="block left w300p mrl">
		    	<h4>Flux RSS</h4> 
		    		<ul>
		    			<li>
		    				<img src="{{ STATIC_URL }}/image/rss.png">les histoires (<a href="/feed/histoires/rss" title="Flux RSS des histoires au format RSS">RSS</a> - <a href="/feed/histoires/atom" title="Flux RSS des histoires au format Atom">Atom</a>)
		    			</li>
		    			<li>
		    				<img src="{{ STATIC_URL }}/image/rss.png">les commentaires (<a href="/feed/commentaires/rss" title="Flux RSS des histoires au format RSS">RSS</a> - <a href="/feed/commentaires/atom" title="Flux RSS des histoires au format Atom">Atom</a>)
		    			</li>
		    			<li>
		    				<img src="{{ STATIC_URL }}/image/rss.png">le blog (<a href="/weblog/feeds" title="Flux RSS du blog au format Atom">Atom</a>)
		    			</li>
		    		</ul>
		    </nav><!-- Flux -->
		    <nav class="block left w150p mrl">
		        <h4>Site</h4> 
		        <ul>
		        	<li><a href="/weblog">Blog</a></li>
		        	<li><a href="/liens">Liens</a></li>
		        	<li><a href="https://twitter.com/fidele_ou_pas">Twitter</a></li>
		        </ul>
		    </nav>
		    <aside class="block left w400p">
		    	<img src="{{ STATIC_URL }}/css/theme/img/logo-footer.png" alt="logo" class="left">
			    <ul>
			        <li>Un commentaire sur le site ?</li>
			        <li> Une suggestion ? </li>
			        <li>Signaler un contenu abusif ? </li>
			        <li>C'est à cette adresse : <a href= "mailto:support@fideleoupas.net">support@fideleoupas.net</a></li>
			    </ul>
		    </aside>
	    </div>
	</footer><!-- footer -->
	<p class="copy line w100 pas txtcenter">
	    Fideleoupas.net (v1.3) Tous droits réservés © 2013. Tous droits de reproduction et/ou de diffusion, totale ou partielle, sous quelque forme que ce soit, réservés pour tous pays, sauf autorisation préalable.
	</p>
</div>

</body>
</html>
