{% extends "polls/base.html" %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<script>
$(document).ready(function(){
    $("#storytosomeone{{ poll.id }}").css("display","none");
});
</script>
<!--<h2>L'histoire : </h2>-->

<div id="story" class="story box pas mbs">
    <p>{{ poll.body }}</p>
    <p class="mll">posté par {{ poll.creator }} le {{ poll.pub_date }}</p>
            {% if poll.image %}
                <div class="mll">
                    <img src="{{ STATIC_URL }}/image/comics/{{ poll.image }}">
                </div><!-- div class mll --><br />
            {% endif %}
                <div id="decalage">
                    <div id="aligncells">
                        <div id="aligncellleft" class="mll left">
                            <span id="vote{{ poll.id }}"><a href="javascript:;" onclick="vote('{{ poll.id }}','yes');">C'est clair, {% if poll.mate_gender == "m" %}il{% else  %}elle{% endif  %} te trompe ({{ poll.voteyes }})</a></span>
                            <span id="vote{{ poll.id }}"><a href="javascript:;" onclick="vote('{{ poll.id }}','no');"> Tu te fais des idées ({{ poll.voteno }})</a></span>
                            commentaires ({{ poll.nbcomments }})
                        </div><!-- aligncelllefet -->
                        <div id="aligncellright" class="right">
                            <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Ffideleoupas.net/polls/{{ poll.id }}/" title="Partager cette histoire sur Facebook"><img src="{{ STATIC_URL }}/image/facebook.png" /></a><a href="http://twitter.com/home?status=Histoire intéressante sur fideleoupas.net http://fideleoupas.net/polls/{{ poll.id }}/" title="Partager cette histoire sur Twitter"><img src="{{ STATIC_URL }}/image/twitter.png"></a><a href="javascript:;" onclick="showhide('storytosomeone{{ poll.id }}');" title="Envoyer cette histoire par e-mail"><img src="{{ STATIC_URL }}/image/email.png"></a><a href="http://identi.ca//index.php?action=newnotice&status_textarea=Histoire intéressante sur fideleoupas.net http://fideleoupas.net/polls/{{ poll.id }}/"  title="Partager cette histoire sur Identi.ca" ><img src="{{ STATIC_URL }}/image/identica.png"></a>
                        </div><!-- aligncellright -->
                    </div><!-- aligncells -->
                </div><!-- decalage --><br />
                <div class="mll"> 
                        <a href="javascript:;" onclick="showhide('storytosomeone{{ poll.id }}');">Envoie cette histoire par e-mail !</a>
                </div><!-- decalage -->
        </div><!-- story -->

<div id="storytosomeone">
    <div id="storytosomeone{{ poll.id }}">
        <form method="post" onsubmit="sendstorytosomeone('{{ poll.id }}');return false">
        {% csrf_token %}
        <input type="hidden" id="pollidforemail{{ poll.id }}" value="{{ poll.id }}" />
        Votre pseudo : <input type="text" id="emailsender{{ poll.id }}" /><br />
        L'adresse e-mail de ton ami : <input type="text" id="emailrecipient{{ poll.id }}" /><br />
        <span id="newemailnotificationbutton{{ poll.id }}"><input type="submit" value="Valider" /></span>
        </form>
    </div><!-- storytosomeoneN -->
</div><!-- storytosomeone -->

<div class="samestories">
{% if samestories_list %}
    <h3>À lire aussi des histoires ressemblantes :</h3>
    <div id="story" class="story box pas mbs">
        <ul>
        {% for samestory in samestories_list %}
            <li><a href="/polls/{{ samestory.id }}/">Histoire {{ samestory.id }} : {{ samestory.body|truncatechars:50 }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endif %}
</div>

<div class="comment">
{% if pollcomment_list %}
    <h3>Vos commentaires :</h3>
    {% for pollcomment in pollcomment_list %}
        {% if pollcomment.moderated and pollcomment.score > 0 %}
        <div class="usercomment box pas mbs">
        <p>{{ pollcomment.body }}</p>
        <p>Posté par {{ pollcomment.creator }} le {{ pollcomment.pub_date }} - <span id="commentvote{{ pollcomment.id }}"><a href="javascript:;" onclick="commentvote('{{ pollcomment.id }}','{{ poll.id }}','good');">Pertinent</a> ou <a href="javascript:;" onclick="commentvote('{{ pollcomment.id }}','{{ poll.id }}','bad');">inutile</a></span></p>
         </div>
        {% endif %}
    {% endfor %}
{% endif %}
</div>

<div id="submission" class="form-comment pam mbm">
    <form method="post" onsubmit="sendcomment();return false">
    {% csrf_token %}
    <input type="hidden" id="pollid" value="{{ poll.id }}" />
   <div class="input">
        <span>Votre pseudo :</span>
        <input type="text" id="commentcreator" />
        <span>(pour être prévenu des autres commentaires de cette histoire)</span>
    </div>
    <div class="input">
        <span>Votre email (optionnel):</span>
        <input type="text" id="commentcreatoremail" />
        <span>(pour être prévenu des autres commentaires de cette histoire)</span>
    </div>
    <div class="input">
        <span>Votre commentaire : </span><br />
        <textarea  rows=10 cols=75 id="comment" /></textarea>
        <span id="newcommentbutton"><input type="submit" value="Valider" /></span>
    </div>
    </form>
</div>

{% endblock %}
