{% extends "polls/base.html" %}

{% block content %}

<!--<h2>Les dernières histoires</h2>-->

<!--<div id="espace"></div>-->
<section>
{% if latest_poll_list %}
    {% for poll in latest_poll_list.object_list %}
        {% if poll.moderated %}
        <script>
        $(document).ready(function(){
            $("#storytosomeone{{ poll.id }}").css("display","none");
        });
        </script>
        <article class="story box pas mbs">
            {% if poll.is_old %}
            <p>{{ poll.body }}</p>
            {% else  %}
            <p><img src="{{ STATIC_URL }}/image/new.png" title="Nouveauté" /> {{ poll.body }}</p>
            {% endif %}
            <p>
                <div class="decalage">
                    <div class="mll">
                       posté par {{ poll.creator }} le {{ poll.pub_date }}
                    </div><!-- div class mll --><br />
                </div><!-- div class decalage --><br />
            {% if poll.image %}
                <div class="mll">
                    <img src="{{ STATIC_URL }}/image/comics/{{ poll.image }}">
                </div><!-- div class mll --><br />
            {% endif %}
                <div class="decalage">
                    <div id="aligncells">
                        <div id="aligncellleft" class="mll left">
                            <span id="vote{{ poll.id }}"><a href="javascript:;" onclick="vote('{{ poll.id }}','yes');">C'est clair, {% if poll.mate_gender == "m" %}il{% else  %}elle{% endif  %} te trompe ({{ poll.voteyes }})</a></span>
                            <span id="vote{{ poll.id }}"><a href="javascript:;" onclick="vote('{{ poll.id }}','no');"> Tu te fais des idées ({{ poll.voteno }})</a></span>
                            <a href="/polls/{{ poll.id }}/"> commentaires ({{ poll.nbcomments }})</a>
                        </div><!-- aligncelllefet -->
                        <div id="aligncellright" class="right">
                            <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Ffideleoupas.net/polls/{{ poll.id }}/" title="Partager cette histoire sur Facebook"><img src="{{ STATIC_URL }}/image/facebook.png" /></a><a href="http://twitter.com/home?status=Histoire intéressante sur fideleoupas.net http://fideleoupas.net/polls/{{ poll.id }}/" title="Partager cette histoire sur Twitter"><img src="{{ STATIC_URL }}/image/twitter.png"></a><a href="javascript:;" onclick="showhide('storytosomeone{{ poll.id }}');" title="Envoyer cette histoire par e-mail"><img src="{{ STATIC_URL }}/image/email.png"></a><a href="http://identi.ca//index.php?action=newnotice&status_textarea=Histoire intéressante sur fideleoupas.net http://fideleoupas.net/polls/{{ poll.id }}/"  title="Partager cette histoire sur Identi.ca" ><img src="{{ STATIC_URL }}/image/identica.png"></a>
                        </div><!-- aligncellright -->
                    </div><!-- aligncells -->
                </div><!-- decalage --><br />
                <div class="mll"> 
                        <a href="javascript:;" onclick="showhide('storytosomeone{{ poll.id }}');">Envoie cette histoire par e-mail !</a>
                </div><!-- decalage -->
        </article><!-- story -->
        <div id="storytosomeone">
            <div id="storytosomeone{{ poll.id }}">
            <form method="post" onsubmit="sendstorytosomeone('{{ poll.id }}');return false">
            {% csrf_token %}
            <input type="hidden" id="pollidforemail{{ poll.id }}" value="{{ poll.id }}" />
            Votre pseudo : <input type="text" id="emailsender{{ poll.id }}" /><br />
            L'adresse e-mail de ton ami : <input type="text" id="emailrecipient{{ poll.id }}" /><br />
            <span id="newemailnotificationbutton{{ poll.id }}"><input type="submit" value="Valider" /></span>
            </form>
            </div><!-- storytosomeoneN-->
        </div><!-- storytosomeone-->
    {% endif %}
    {% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if latest_poll_list.has_previous %}
            <a href="?page={{ latest_poll_list.previous_page_number }}">précédente</a>
        {% endif %}

        <span class="current">
            Page {{ latest_poll_list.number }} de {{ latest_poll_list.paginator.num_pages }}.
        </span>

        {% if latest_poll_list.has_next %}
            <a href="?page={{ latest_poll_list.next_page_number }}">suivante</a>
        {% endif %}
    </span>
</div>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}
</section>
