{% extends "polls/base.html" %}

{% block content %}

<div id="foplinks" class="block pal">
    <p><strong>Liens : </strong><a href="http://www.jerecuperemonex.com/">jerecuperemonex.com</a><p>
</div><!-- foplinks -->

{% endblock %}
